$primary-color: #10001c;
$secondary-color: #333;
$third-color: #26062b;
$fourth-color: #f5f5f5;

$primary-text-color: #f5f5f5;
$secondary-text-color: #a9a9a9;
$tertiary-text-color: rgb(212, 3, 3);

$box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);

$primary-border-color: #d3d3d3;

$modal-bg-color: rgba(0, 0, 0, 0.85);
